<%- include('header') %>

<h1>Hello, <%- username %>. <a href="/logout">Log out</a>.</h1>

<h2>Users</h2>

<ul>
<% users.forEach(function(user) { %>
    <li><%- user %></li>
<%  }); %>
</ul>

<%- include('footer') %>
